.article-menu {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    height: 80%;
    padding-right: 15px;
}
.article-menu li {
    text-align: right;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.3s;
}
.article-menu li:hover {
    transform: scale(1.1);
}
.article-menu a {
    color: #d35400;
}
.article-content {
    max-width: 800px;
    padding: 10px;
    margin: auto;
}
.article-content h1 {
    text-align: center;
    padding: 30px;
    font-size: 3em;
}
.article-content h2 {
    margin: 20px 0px;
    font-size: 2.1em;
    border-bottom: 1px solid lightgray;
}
.article-content h3 {
    font-size: 1.9em;
    padding: 10px 0px;
}
.article-content h4 {
    font-size: 1.5em;
    margin: 8px 0px;
    border-bottom: 1px dashed lightgray;
}
.article-content ul {
    display: block;
}
.article-content p, .article-content li {
    padding: 5px;
    text-align: justify;
    font-size: 1.4em;
}
.article-content img {
    margin: auto;
    display: block;
    width: 75%;
}
.article-content figure {
    text-align: center;
    font-style: italic;
    padding: 10px;
}
.article-content blockquote {
    border-left: 5px lightgray solid;
    padding-left: 5px;
    color: darkgray;
    font-size: 1em;
}
.article-content .aparte {
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    font-style: italic;
}
.article-footer * {
    text-align: right !important;
}
.article-footer img {
    display: inline-block;
    margin: 5px;
    width: auto;
}
.article-footer i {
    display: block;
}
.dyslexic-mode {
    float: right;
    font-family: "OpenDys";
}
.dyslexic-toggle {
    vertical-align: middle;
    margin-left: 5px;
}
@media (max-width: 1580px) {
    .article-content {
        margin: 0;
    }
}
@media (max-width: 1280px) {
    .article-menu {
        display: none;
    }
}
@media (max-width: 780px) {
    .article-content img {
        width: 100%;
    }
    .article-footer img {
        width: auto;
    }
}