nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
h1 {
    padding: 10px;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    padding: 0;
    list-style: none;
    padding: 20px;
    width: 100px;
}
@media (max-width: 780px) {
    nav {
        justify-content: center;
    }
}